#title
  h1.title Messages!
  
form.form(method="post", action="/sendMessage", id="messageForm")
  fieldset
    !{message_form}
    button(type="submit", class="slick-black") Send Message!
  
#result

#messages
  | Inbox:
  ul
    - for(var l in messages)
      li
        h3= "From: " + messages[l].sender 
        h3= "On: " + messages[l].date
        
        p= messages[l].content
        
#sent_messages
  | Sent Messages:
  ul
    - for(var l in sent_messages)
      li
        h3= "To: " + sent_messages[l].receiver 
        h3= "Date Sent: " + sent_messages[l].date
        p= sent_messages[l].content
  
script
  $("#messageForm").submit(function(event){
    event.preventDefault();
    $.post("/sendMessage", $("#messageForm").serialize(), function(data){
      $("#result").html(data);
    });
  });
